<html>
    <head>
        <title>AutoRoom</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
		<script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>

        <script>

            const source = new EventSource("/current");
            source.onmessage = function(event) {
                document.getElementById("innerGrid").innerHTML = event.data;

                const $grid = $('.grid').packery({
                    itemSelector: '.grid-item',
                    columnWidth: 400,
                    gutter: 50,
                    initLayout: false
                });

                // make all grid-items draggable
                $grid.find('.grid-item').each( function( i, gridItem ) {
                    const draggie = new Draggabilly(gridItem);
                    // bind drag events to Packery
                    $grid.packery( 'bindDraggabillyEvents', draggie );
                });

            }
        </script>
    </head>
    <body>

        <!-- Sidebar -->
        <div class="w3-right w3-bar w3-white w3-card" id="sidebar">
            <h1 style="padding-bottom: 20px">AutoRoom</h1>
            <hr>
            <h2>Sensoren</h2>
            <h3>Temperatur: 30 Lux</h3>
            <h3>Helligkeit: 30 Lux</h3>
            <br>
            <hr>
            <h2>Trigger</h2>
            <h3>Something</h3>
        </div>

        <!-- Work Section -->
        <div class="w3-container" style="padding: 90px 10px 64px; height: auto;">
            <div class="w3-container">
                <div class="grid w3-right" id="innerGrid" style="width: 75%;">
                    <div class="grid-item">
                        <div style="width: 100%; height: 100%;">
                            <h2>{{ name }} ({{ ip }})</h2>
                            <hr>
                            <form action="" style="text-align: left">
                                <input type="radio" name="state" value="an"> An<br>
                                <input type="radio" name="state" value="aus"> Aus<br>
                                <input type="radio" name="state" value="standby"> Standby
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script>

            const $grid = $('.grid').packery({
                itemSelector: '.grid-item',
                columnWidth: 400,
                gutter: 50,
            });

            // make all grid-items draggable
            $grid.find('.grid-item').each( function( i, gridItem ) {
                const draggie = new Draggabilly(gridItem);
                // bind drag events to Packery
                $grid.packery( 'bindDraggabillyEvents', draggie );
            });

        </script>


    </body>
</html>